.upload-area {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.square-graph-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.square-graph {
    position: relative;
    width: 80%;
    padding-bottom: 50%; /* This makes the height equal to the width */
    height: 0;
    overflow: hidden;
}

.square-graph > div {
    position: absolute;
    width: 100%;
    height: 100%;
}
